body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.bg-image {
  border: 1px solid red;
  width: 40%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-image: url("./images/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg");
  background-size: cover;
}

.bg-image h1 {
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 45px;
}

.form-container {
  border: 1px solid blue;
  width: 60%;
  padding: 20px;
}
